@charset "UTF-8";

/*configuração genérica*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: darkslateblue;
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    color: azure;
    padding: 20px;
    text-shadow: 1px 2px 3px black;
}